<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>appDash - backbone</title>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="./js/lib/underscore.js"></script>
    <script src="./js/lib/backbone.js"></script>
    <script src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
    <div id="app-container">
      <header><h1>ModOp App Dashboard</h1></header>
      <div id="dash-view"></div>
    </div>
  </body>
</html>

<script type="text/template" id="app-template">
  <div class="app-block-content">
    <a class="app-header" href= <%= url %> >
      <h2 class="app-name">  <%= name %> </h2>
      <!-- app image will go here. link to img_url or pull from assets? -->
    </a>
    <div class="app-attrs">
      <p class="app-type">   <%= type %> </p>
      <input class="app-descr" placeholder="add a description" value= <%= description %> >
    </div>
  </div>
</script>

<script>
  // Models
  var AppType = Backbone.Model.extend({
    defaults: {
      name: "",
      url: "",
      type: "",
      description: ""
    },
    // listeners are in initalize
    initialize: function() {
      this.on('invalid', function(model, error){
        console.log(error);
      });
    },

    // validations
    validate: function(attrs,opts) {
      if(attrs.name === "" || attrs.url === ""){
        return "This field cannot be blank"
      }
    },
  });


  // Collections
  var AppColl = Backbone.Collection.extend({
    url : '/apps',

    model: AppType,

    initialize: function(){
      this.on('change', this.wasChanged, this);
    },

    wasChanged: function(model){
      console.log(model.isValid(), model.attributes.description);
    }
  });

  // Views
    // individual app item view
  var AppView = Backbone.View.extend({
      className: "app-block-wrapper small-12 medium-6 large-4 columns",
      // TODO: add Foundation grid styling to this class name so that
      // each app block fits into the grid as it is instantiated

      template: _.template($("#app-template").html()),

      events: {
        'keypress .app-descr': 'updateDescr'
      },

      updateDescr: function(e) {
        if (e.which === 13) {
          this.model.set('description', e.target.value);
        }
      },

      initialize: function() {
        this.listenTo(this.model, 'change', this.render);
      },

      render: function() {
        this.$el.html(this.template(this.model.toJSON()));
        return this;
      },
  });

  // collectionView for all apps
  var DashView = Backbone.View.extend({
    // id: 'dash-view',

    className: 'row',

    render: function(){
      this.collection.each(function(app){
        var appView = new AppView({model: app});
        this.$el.append(appView.render().el);
      }, this); // 'this' is the context for this iterator; narrows it from global window to DashView object

      return this;
    },
  });

  // instantiate the apps
  var jira   = new AppType({name: "Jira",       url: "http://modusoperandi.atlassian.net/secure/Dashboard.jspa"});
  var conf   = new AppType({name: "Confluence", url: "https://modusoperandi.atlassian.net/wiki/"});
  var h5     = new AppType({name: "HighFive",   url: "https://modop.highfive.com/"});
  var hip    = new AppType({name: "HipChat",    url: "https://modop.hipchat.com/home"});
  var bit    = new AppType({name: "Bitbucket",  url: "https://bitbucket.org/"});
  var bamboo = new AppType({name: "Bamboo",     url: "http://ec2-174-129-21-217.compute-1.amazonaws.com/allPlans.action"});

  // instantiate the collection of apps
  var appTypes = new AppColl([jira, conf, h5, hip, bit, bamboo]);

  // instantiate the collectionView for the whole dash
  var dashView = new DashView({collection: appTypes})
  $("#dash-view").html(dashView.render().el);

</script>
