<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>appDash - backbone</title>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="./js/lib/underscore.js"></script>
    <script src="./js/lib/backbone.js"></script>
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
    <div id="app-container"></div>
  </body>
</html>

<script type="text/template" id="app-template">
  <h2 class="app-name">  <%= name %> </h2>
  <p class="app-type">   <%= type %> </p>
  <input class="app-descr" placeholder="add a description">  <%= description %>
</script>

<script>
  // Models
  var AppType = Backbone.Model.extend({
    defaults: {
      name: "",
      url: "",
      type: "",
      description: ""
    },
    // listeners are in initalize
    initialize: function() {
      this.on('invalid', function(model, error){
        console.log(error);
      });
    },

    // validations
    validate: function(attrs,opts) {
      if(attrs.name === "" || attrs.url === ""){
        return "This field cannot be blank"
      }
    },
  });


  // Collections
  var AppColl = Backbone.Collection.extend({
    url : '/apps',

    model: AppType,

    initialize: function(){
      this.on('change', this.wasChanged, this);
    },

    wasChanged: function(model){
      console.log('model was changed')
      console.log(model.attributes.description);
    }
  });

  // Views
    // individual app item view
  var AppView = Backbone.View.extend({
      tagName:   'li',

      className: 'app-dash-item',

      template: _.template($("#app-template").html()),

      events: {
        'click .app-descr': 'showAlert'

        // TODO: add event listeners for interactions with individual apps
        // click on div
        // populate <input />
        // select from dropdown

        //NB: add functions below for these events as well!
      },

      // TODO: comment this initialize back in when working on events
      // initialize: function() {
      //   this.listenTo(this.model, 'change', this.render);
      // },

      showAlert: function() {
        alert("description was clicked");
      },

      render: function() {
        this.$el.html(this.template(this.model.toJSON()));
        return this;
      },
  });

  // collectionView for all apps
  var DashView = Backbone.View.extend({
    tagName: 'ul',

    render: function(){
      this.collection.each(function(app){
        var appView = new AppView({model: app});
        this.$el.append(appView.render().el);
      }, this); // 'this' is the context for this iterator; narrows it from global window to DashView object

      return this;
    },
  });

  // instantiate the apps
  var jira = new AppType({name: "Jira", url: "http://modusoperandi.atlassian.net/secure/Dashboard.jspa"});
  var conf = new AppType({name: "Confluence", url: "https://modusoperandi.atlassian.net/wiki/"});
  var hip  = new AppType({name: "HipChat", url: "https://modop.hipchat.com/home"});

  // instantiate the collection of apps
  var appTypes = new AppColl([jira, conf, hip]);

  // instantiate the collectionView for the whole dash
  var dashView = new DashView({collection: appTypes})
  $("#app-container").html(dashView.render().el);

</script>
