#app-container {
  font-family: "Helvetica";
}

.app-block-wrapper .app-block {
  display: block;
  background-color: hsl(0, 0%, 75%);
  margin: 20px;
  padding: 10px;
  width: 200px;
  height: 200px;
}

.app-block-wrapper a.app-block {
  text-decoration: none;
}

.app-name {
  margin: 0px;
  text-align: center;
}
