.app-dash-item {
  background-color: hsl(0, 0%, 75%);
  margin: 20px;
  width: 200px;
  height: 200px;
  list-style-type: none;
}

.app-dash-item {
  padding: 10px;
}

.app-dash-item .app-name {
  margin: 0px;
}
