#app-container {
  font-family: "Helvetica";
}

header h1 {
  text-align: center;
  font-weight: bold;
}

.app-block-content {
  border: 1px solid hsl(0, 0%, 95%);
  margin: 20px 0px;
}

.app-block-wrapper .app-header {
  display: block;
  background-color: hsl(0, 0%, 75%);
  margin-bottom:  20px;
  height:  150px;
}

.app-block-wrapper a.app-header {
  text-decoration: none;
}

.app-name {
  margin: 0px;
  text-align: center;
  font-weight: 500;
}

.app-descr {
  width: 95%;
  margin: 10px;
}
